*
{
    box-sizing: border-box;
}

main
{
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-template-columns: repeat(3, auto);
    background-color: rgb(242, 176, 109);
    text-align: center;
}

.error
{
    color: red;
}

.success
{
    color: green;
}

.info
{
    color: blue;
}

#goban table
{
    padding: 0;
    margin: 0;
    border-collapse: 0;
    border-spacing: 0;
    border: 1px solid black;
    margin: auto;
}

#goban tr
{
    margin: 0;
    padding: 0;
}

#goban
{
    padding: 15px;
}

/* #goban table
{
    box-shadow: inset 25px 25px rgb(242, 176, 109),
                inset -25px -25px rgb(242, 170, 109);
} */

.case
{
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url('../img/bg_plus.svg');
}

.case i
{
    width: 21px;
    height: 21px;
    margin: auto;
}

.white
{
    color: white;
}

.black
{
    color: #212529;
}

.pre-stone
{
    opacity: 0;
}

.pre-stone:hover
{
    opacity: 0.8;
}

.stone
{
    opacity: 1;
}